/*=============== HEADER Y NAV ===============*/
.nav{
    background-color: var(--container-color-dark);
    padding-top: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &__shape{
        width: 200px;
        height: 200px;
        background-color: var(--first-color-shape);
        border-radius: 50%;
        position: absolute;
        top: -2rem;
        left: -2rem;
        filter: blur(90px);
    }
    &__close{
        position: relative;
        display: inline-flex;
        font-size: 1.8rem;
        color: var(--text-color-dark);
        cursor: pointer;
        margin-bottom: 3.5rem;
    }
    &__img{
        width: 70px;
    }
    &__mask{
        width: 80px;
        height: 80px;
        background: linear-gradient(
                    224deg,
                    hsla(277, 81%, 55%, 1) -2%,
                    hsla(277, 97%, 83%, 1) 97%);
        border-radius: 1.5rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 1rem;
    }
    &__data{
        position: relative;
        margin-bottom: 3rem;
    }
    &__greeting{
        display: block;
        color: var(--text-color-dark);
        font-size: var(--small-font-size);
        font-weight: 500;
        margin-bottom: .25rem;
    }
    &__name{
        color: var(--title-color-dark);
        font-size: var(--big-font-size);
        line-height: 130%;
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    &__link{
        color: var(--text-color-dark);
        display: inline-flex;
        align-items: center;
        column-gap: 1rem;
        font-size: var(--small-font-size);
        font-weight: 500;
        transition: .3s;

        & i{
            font-size: 1.15rem;
        }

        &:hover{
            color: var(--title-color-dark);
        }
    }
}

.main{
    position: relative;
    background-color: var(--body-color);
    transition: .4s;
}

.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    
    &__nav{
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo,
    &__toggle{
        color: var(--title-color);
    }
    &__logo{
        font-weight: 500;
    }
    &__toggle{
        font-size: 1.15rem;
        cursor: pointer;
    }
}

/* Show menu */
.show-menu{
    transform: translate(70%);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/* Active link */
.active-link{
    color: var(--title-color-dark);
}