/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(273, 97%, 66%);
  --first-color-shape: hsl(253, 33%, 32%);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --container-color: #fff;
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(273, 21%, 56%);
  --container-color-dark: hsl(273, 80%, 14%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER Y NAV ===============*/
/* Show menu */
/* Change background header */
/* Active link */
/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For medium devices */
/* For large devices */
